<!DOCTYPE html>
<html>
<head>
  <title>Gdrivestrg</title>
  <%= stylesheet_link_tag    "gdrivestrg/application", :media => "all" %>
  <%= javascript_include_tag "gdrivestrg/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
